<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">ExcelPython</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li {% if page.title == 'Quickstart' %} class="active" {% endif %} ><a href="/quickstart">Quickstart</a></li>
      <!-- <li {% if page.title == 'Examples' %} class="active" {% endif %} ><a href="/examples"> Examples</a></li> -->
      <li {% if page.title == 'Contribute' %} class="active" {% endif %} ><a href="/contribute">Contribute</a></li>
      <li {% if page.title == 'Support' %} class="active" {% endif %} ><a href="/support">Support</a></li>
      <li {% if page.title == 'Documentation' %} class="active" {% endif %} ><a href="https://github.com/ericremoreynolds/excelpython/tree/master/docs/" target="_blank">Docs</a></li>
    </ul>
  </div>
</div>